* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Dancing Script', cursive;
  background-image: url('https://images.unsplash.com/photo-1567578923208-5cc60003892d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  
  
}

main {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 70%;
  height: 40rem;
}

#par {
  display: none;
  font-size: 3rem;
  background-color: #F9D949 ;
  width: 90%;
  text-align: center;
  padding: 2rem;
  border-radius: 15px;
}

#btn {
  background-color: #000000;
  color: #F9D949;
  width: 50%;
  padding: 1rem;
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
  border-radius: 9px;
  border: none;
  box-shadow: 5px 5px 17px 7px rgb(0, 0, 0, 0.3);
  cursor: pointer;
  margin-top: auto;
}

@media all and (max-width: 81em) {
 
  #par {
    font-size: 2.4rem;
  }

  #btn {
    font-size: 1.6rem;
  }
}

@media all and (max-width: 62em) {
  #container {
    width: 90%;
  }

  #btn {
    width: 70%;
  }
}

@media all and (max-width: 37em) {
  #par {
    font-size: 2rem;
  }

  #btn {
    font-size: 1.2rem;
  }
}